obj/
StopCfg*/
TopTaggerCfg*/
sampleSet*.cfg
sampleCollection*.cfg
condor/DataMC*
systplot
simpleAnalyzer
beffCalc
calcEff
calcEffPhoton
harvestHists
makeDYPlots
makeDataMCplots
makePhotonPlots
makePlots
makeSignalHistograms
makeTopPlots
moneyplot
scalefactorplot
